@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purpleColor: #6b21a8;
}
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url("/main_bg.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

a {
  color: var(--purpleColor);
}

.active {
  color: #38bdf3;
}

.myShadowRed {
  box-shadow: 0 0 50px 15px rgba(255, 0, 0, 0.25);
}
.myShadowGreen {
  box-shadow: 0 0 50px 15px rgba(0, 160, 0, 0.5);
}
