@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purpleColor: #732fcc;
}
html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-image: url("https://img1.akspic.ru/crops/1/0/3/0/5/150301/150301-vecher-temnota-sinij-fialka-noch-1920x1080.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
}

a {
  color: var(--purpleColor);
}

.active {
  color: #38bdf3;
}

.myShadowRed {
  box-shadow: 0 0 50px 15px rgba(255, 0, 0, 0.25);
}
.myShadowGreen {
  box-shadow: 0 0 50px 15px rgba(0, 160, 0, 0.5);
}
